<!-- desktop -->
<div class="wrapper1">
  <div id="top-row" class="row flex-row justify-content-around">
    <div class="col-4 col-md-4 d-flex justify-content-center">
      <span class="span"><i class="fa fa-envelope fa-7x icon"></i><br>info@k9cs.org</span>
    </div>
    <div class="col-4 col-md-4 d-flex justify-content-center ">
      <span id="phone" class="span"><i class="fa fa-phone fa-7x icon"></i><br>(860)-948-8674</span>

    </div>
    <div class=" col-4 col-md-4 d-flex justify-content-center">
      <span id="address" class="span"><i class="fa fa-map-marker fa-7x icon"></i>
        <br>
        406 Buff Cap Rd
        <br>
        Tolland, CT, 06084</span>
    </div>
  </div>
  <div id="row" class="row flex-row  justify-content-around">
    <div id="copyright" style="margin-left:15px;"><span>Copyright K9cs Inc</span></div>
  </div>
</div>
<!-- mobile -->
<div class="wrapper2">
  <div id="top-row" class="row flex-row justify-content-around">
    <div class="col-4 d-flex justify-content-start ">
      <span class="span"><i class="fa fa-envelope fa-7x icon"></i><br>  info@k9cs.org</span>
    </div>
    <div class="col-4">
      <span id="phone" class="span"><i class="fa fa-phone fa-7x icon"></i><br>(860)-948-8674</span>

    </div>
    <div class="col-4">
      <span id="address" class="span"><i class="fa fa-map-marker fa-7x icon"></i>
        <br>
        406 Buff Cap Rd
        <br>
        Tolland, CT, 06084</span>
    </div>
  </div>
  <div id="row" class="row flex-row  justify-content-around">
    <div id="copyright" style="margin-right: 10px;"><span>Copyright K9cs Inc</span></div>
  </div>
</div>
