<!-- <div class="container">
  <form class="form" #form='ngForm' (submit)="onSubmit(form)">
    <div class="title">New Blog</div>
    <input id="firstname" class="input" type="text" placeholder=" " name="title" ngModel form.title="ngModel"/>
    <br>
    <input id="email" class="input" type="text" placeholder=" " name="author" ngModel form.author="ngModel"/>
    <br>
    <input type="file" class="inputfile" name="photo" ngModel form.image="ngModel"
          (input)="onChange(f.files[0])" #f #test>
          <br>
    <quill-editor [styles]="quillStyle" name="text" ngModel form.text="ngModel"  placeholder="">
    </quill-editor>
    <button type="submit" class="submit">submit</button>
  </form>
    </div> -->








    <div class="container">
      <form class="form" #form='ngForm' (submit)="onSubmit(form)">
        <div class="title">New Blog</div>


        <input type="file" class="inputfile" name="photo" ngModel
              (input)="onChange(f.files[0])" #f #test>
        <div class="input-container ic1" >
          <input id="firstname" class="input" type="text" placeholder=" " name="title" ngModel form.title="ngModel"/>
          <div class="cut cut-short"></div>
          <label for="firstname" class="placeholder">Title</label>
        </div>
        <div class="input-container ic2">
          <quill-editor [styles]="quillStyle" name="text" ngModel form.text="ngModel"  placeholder="">
          </quill-editor>
          <div class="cut cut-short"></div>
          <label for="lastname" class="placeholder">Text</label>
        </div>
        <div class="input-container ic2">
          <input id="email" class="input" type="text" placeholder=" " name="author" ngModel form.author="ngModel"/>
          <div class="cut "></div>
          <label for="email" class="placeholder">Posted By</label>
        </div>
        <button type="submit" class="submit">submit</button>
       </form>
    </div>
